<div class='editor-left'>
    <div class=''>
        <h4><%= _("Merge Articles") %></h4>
        <div class="class">
            Article ID <% text_field 'merge', 'with' %>
        </div>
        <%= submit_tag "merge" %>
    </div>
</div>